<style>

#container{
    background-color:var(--extra-color) ;
}
</style>

<nav class="navbar navbar-expand-lg" id="container">
  <div class="container-fluid" >
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     
   {% if is_granted('ROLE_USER') ==false %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_landing') }}" >Home</a>
        </li>
    <li class="nav-item">
              <a class="nav-link"  href="{{ path('app_register') }}" >Register</a>
            </li>

         <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_login') }}" >Login</a>
        </li>

   
 {%  endif %}


  {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN')==false   %}
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_user_index') }}" >Home</a>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Find events based on their type:
          </a>

          <ul class="dropdown-menu">
                  
            {% for t in types %}  

              <li><a class="dropdown-item" href="{{ path('app_user_filter', {'type': t}) }}"> {{ t }} </a></li>
            
            
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_logout') }}" >Logout</a>
        </li>
  {%  endif %}


         {% if is_granted('ROLE_ADMIN')  %}
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_event_index') }}" >Home</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_event_new') }}" >Create a new event</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Find events based on their type:
          </a>

          <ul class="dropdown-menu">
                  
            {% for t in types %}  

              <li><a class="dropdown-item" href="{{ path('app_event_filter', {'type': t}) }}"> {{ t }} </a></li>
            
            
            {% endfor %}
          </ul>
        </li>

       <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_logout') }}" >Logout</a>
        </li>

       
         {%  endif %}
       
        
       
      </ul>
    </div>
  </div>
</nav>